<!DOCTYPE html>
<html lang="en">

<!-- Terapia -->
<head>
    <!-- ASP default -->
    @* <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SkillBox.App</title>
    <link rel="stylesheet" href="~/css/reset-css.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DiplomnaRabotaNet8.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/fontawesome/css/all.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/fontawesome/js/all.js" asp-append-version="true" /> *@

    <!-- ASP default end-->
    <!-- Terapia head start -->

    <meta charset="utf-8">
    <title>SkillBox</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Playfair+Display:wght@400;500;600&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/terapiafolder/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/terapiafolder/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/terapiafolder/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/terapiafolder/css/style.css" rel="stylesheet">

    <!-- Terapia head end -->





</head>
<body>


    <!-- ASP.NET header stards -->
    @* <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-skillBox border-bottom box-shadow mb-3">
    <div class="container-fluid d-flex mx-20">
    <a class="navbar-brand  p-2 " asp-area="" asp-controller="Home" asp-action="Index"><h4 class="my-0">SkillBox</h4></a>
    <ul class="navbar-nav d-flex m-1">

    <li class="nav-item p-2 ms-2 my-0">
    <a class="nav-link text-dark btn fw-bold " asp-area="" asp-controller="" asp-action="">Публикувайте работа</a>
    </li>
    <li class="nav-item p-2 ms-2">
    <a class="nav-link text-dark btn fw-bold" asp-area="" asp-controller="" asp-action="">Как работи?</a>
    </li>
    <partial name="_LoginPartial" />
    </ul>
    </div>
    </nav>
    </header> *@

    <!-- ASP.NET header ends -->
    <!-- Terapia header Starts -->
    <!-- Terapia Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Terapia Spinner End -->
    <!-- Topbar Start -->
    <div class="container-fluid bg-dark px-5 d-none d-lg-block">
        <div class="row gx-0 align-items-center" style="height: 45px;">
            <div class="col-lg-8 text-center text-lg-start mb-lg-0">
                <div class="d-flex flex-wrap">
                    <a href="#" class="text-light"><i class="fa-solid fa-hashtag"></i>Топ 5 най-търсени услуги</a>
                </div>
            </div>
            <div class="col-lg-4 text-center text-lg-end">
                <div class="d-flex align-items-center justify-content-end">
                    <a href="https://www.facebook.com/" class="btn btn-light btn-square border rounded-circle nav-fill me-3"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.x.com/" class="btn btn-light btn-square border rounded-circle nav-fill me-3"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="https://www.instagram.com/" class="btn btn-light btn-square border rounded-circle nav-fill me-3"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/" class="btn btn-light btn-square border rounded-circle nav-fill me-0"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->
    <!-- Navbar & Hero Start -->
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-white px-4 px-lg-5 py-3 py-lg-0">
            <a href="index.html" class="navbar-brand p-0">
                <h1 class="text-primary m-0"><i class="fas fa-star-of-life me-3"></i>SkillBox</h1>
                <!-- <img src="img/logo.png" alt="Logo"> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a asp-controller="Home" asp-action="Index" class="nav-item nav-link active">Начало</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Услуги</a>
                        <div class="dropdown-menu m-0">
                            <a href="appointment.html" class="dropdown-item">Appointment</a>
                            <a href="feature.html" class="dropdown-item">Features</a>
                            <a asp-controller="Home" asp-action="Error" class="dropdown-item">404 Page</a>
                        </div>
                    </div>

                </div>
                <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 flex-wrap flex-sm-shrink-0">Book Appointment</a>

                <!--Canvas start-->
                <button class="btn btn-primary rounded-pill text-white py-2 px-4 flex-wrap flex-sm-shrink-0 navbar-toggler ms-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon text-light"></span>
                </button>

                <button class="btn btn-primary rounded-pill text-white ms-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvas"><span class="navbar-toggler-icon"></span></button>

                <div class="offcanvas offcanvas-end bg-dark" data-bs-scroll="true" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel" style="width: 25%;">
                    <div class="offcanvas-header p-2">
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body pt-0">
                        <div class="card card-body ms-1 nav-item navbar-nav mb-2" style="width: 98%;">
                            <partial name="_LoginPartial" />
                        </div>
                        <div class="card card-body ms-1" style="width: 98%;">
                            <a asp-controller="Chats" asp-action="Index" class="nav-item nav-link">Моите чатове</a>
                        </div>
                    </div>
                </div>
                <!--Canvas end-->
            </div>
        </nav>
    </div>

    <!-- Terapia header ends -->


    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer>

        <!-- Terapia Footer Start -->
        <div class="container-fluid footer py-5 wow fadeIn" data-wow-delay="0.2s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="text-white mb-4"><i class="fas fa-star-of-life me-3"></i>SkillBox</h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus dolorem
                            </p>
                            <div class="d-flex align-items-center">
                                <i class="fas fa-share fa-2x text-white me-2"></i>
                                <a class="btn-square btn btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn-square btn btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn-square btn btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                                <a class="btn-square btn btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="mb-4 text-white">Бързи връзки</h4>
                            <a href=""><i class="fas fa-angle-right me-2"></i> За нас</a>
                            <a href=""><i class="fas fa-angle-right me-2"></i> Контакти</a>
                            <a href=""><i class="fas fa-angle-right me-2"></i> Политика за поверителност</a>
                            <a href=""><i class="fas fa-angle-right me-2"></i> Общи условия</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="mb-4 text-white">SkillBox Услуги</h4>
                            <a href=""><i class="fas fa-angle-right me-2"></i> Всички услуги</a>
                            <a href=""><i class="fas fa-angle-right me-2"></i> Physiotherapy</a>
                            <a href=""><i class="fas fa-angle-right me-2"></i> Diagnostics</a>
                            <a href=""><i class="fas fa-angle-right me-2"></i> Manual Therapy</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="mb-4 text-white">Contact Info</h4>
                            <a href=""><i class="fa fa-map-marker-alt me-2"></i> 123 Street, New York, USA</a>
                            <a href=""><i class="fas fa-envelope me-2"></i> info@example.com</a>
                            <a href=""><i class="fas fa-phone me-2"></i> +012 345 67890</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Terapia Footer End -->
        <!-- Terapia Copyright Start -->
        <div class="container-fluid copyright py-4">
            <div class="container">
                <div class="align-items-center">
                    <div class="col-md-6 text-center text-md-start mb-md-0">
                        <span class="text-white"><a href="#"><i class="fas fa-copyright text-light me-2"></i>SkillBox</a>. Всички права запазени.</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Terapia Copyright End -->
        <!-- Terapia Back to Top -->
        <a href="#" class="btn btn-primary btn-lg-square back-to-top"><i class="fa fa-arrow-up"></i></a>
    </footer>


    <!-- ASP JS Links -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <!-- ASP JS Links ends -->
    <!-- Terapia JS Links -->
    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/terapiafolder/lib/wow/wow.min.js"></script>
    <script src="~/terapiafolder/lib/easing/easing.min.js"></script>
    <script src="~/terapiafolder/lib/waypoints/waypoints.min.js"></script>
    <script src="~/terapiafolder/lib/owlcarousel/owl.carousel.min.js"></script>
    <!-- Template Javascript -->

    <script src="~/terapiafolder/js/main.js"></script>

    <!-- Terapia JS Links ends-->
</body>
</html>
