<div class="ps-widget bgc-white bdrs8 p30 mt-2 overflow-hidden position-relative" id="searchServicesMainContainer" style="display: none;">
    <div class="packages_table table-responsive" id="searchServicesContainer" style="display: none;">
    </div>
</div>