@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number." />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

<div class="dashboard__content hover-bgc-color">
    <div class="row pb40">
        <div class="col-lg-9">
            <div class="dashboard_title_area">
                <h2>Моят профил</h2>
                <p class="text">За да станете Skiller въведете останалата информация за вас.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="ps-widget bgc-white bdrs4 p30 mb30 overflow-hidden position-relative">
                <div class="bdrb1 pb15 mb25">
                    <h5 class="list-title">Детайли за профила</h5>
                </div>
                <div class="col-xl-7">
                    <div class="profile-box d-sm-flex align-items-center mb30">
                        <div class="profile-img mb20-sm">
                            <img class="w-100 rounded-circle wa-xs" src="images/team/fl-1.png" alt="">
                        </div>
                        <div class="profile-content ml20 ml0-xs">
                            <div class="d-flex align-items-center my-3">
                                <a href="" class="tag-delt text-thm2"><span class="flaticon-delete text-thm2"></span></a>
                                <a href="" class="upload-btn ml10">Upload Images</a>
                            </div>
                            <p class="text mb-0">Max file size is 1MB, Minimum dimension: 330x300 And Suitable files are .jpg & .png</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <form class="form-style1">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb20">
                                    <label class="heading-color ff-heading fw500 mb10">Username</label>
                                    <input type="text" class="form-control" placeholder="i will">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb20">
                                    <label class="heading-color ff-heading fw500 mb10">Email Address</label>
                                    <input type="email" class="form-control" placeholder="i will">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb20">
                                    <label class="heading-color ff-heading fw500 mb10">Phone Number</label>
                                    <input type="text" class="form-control" placeholder="i will">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb20">
                                    <label class="heading-color ff-heading fw500 mb10">Tagline</label>
                                    <input type="text" class="form-control" placeholder="i will">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb20">
                                    <div class="form-style1">
                                        <label class="heading-color ff-heading fw500 mb10">Hourly Rate</label>
                                        <div class="bootselect-multiselect">
                                            <select class="selectpicker">
                                                <option>Select</option>
                                                <option>$50</option>
                                                <option>$60</option>
                                                <option>$70</option>
                                                <option>$80</option>
                                                <option>$90</option>
                                                <option>$100</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb20">
                                    <div class="form-style1">
                                        <label class="heading-color ff-heading fw500 mb10">Gender</label>
                                        <div class="bootselect-multiselect">
                                            <select class="selectpicker">
                                                <option>Select</option>
                                                <option>Male</option>
                                                <option>Female</option>
                                                <option>Other</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb20">
                                    <div class="form-style1">
                                        <label class="heading-color ff-heading fw500 mb10">Specialization</label>
                                        <div class="bootselect-multiselect">
                                            <select class="selectpicker">
                                                <option>Select</option>
                                                <option>Male</option>
                                                <option>Female</option>
                                                <option>Other</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb20">
                                    <div class="form-style1">
                                        <label class="heading-color ff-heading fw500 mb10">Type</label>
                                        <div class="bootselect-multiselect">
                                            <select class="selectpicker">
                                                <option>Select</option>
                                                <option>Type One</option>
                                                <option>Type Two</option>
                                                <option>Type Three</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb20">
                                    <div class="form-style1">
                                        <label class="heading-color ff-heading fw500 mb10">Country</label>
                                        <div class="bootselect-multiselect">
                                            <select class="selectpicker">
                                                <option>Turkey</option>
                                                <option>United Kingdom</option>
                                                <option>United State</option>
                                                <option>Ukraine</option>
                                                <option>Uruguay</option>
                                                <option>UK</option>
                                                <option>Uzbekistan</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb20">
                                    <div class="form-style1">
                                        <label class="heading-color ff-heading fw500 mb10">City</label>
                                        <div class="bootselect-multiselect">
                                            <select class="selectpicker">
                                                <option data-tokens="California">California</option>
                                                <option data-tokens="Chicago">Chicago</option>
                                                <option data-tokens="LosAngeles">Los Angeles</option>
                                                <option data-tokens="Manhattan">Manhattan</option>
                                                <option data-tokens="NewJersey">New Jersey</option>
                                                <option data-tokens="NewYork">New York</option>
                                                <option data-tokens="SanDiego">San Diego</option>
                                                <option data-tokens="SanFrancisco">San Francisco</option>
                                                <option data-tokens="Texas">Texas</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb20">
                                    <div class="form-style1">
                                        <label class="heading-color ff-heading fw500 mb10">Languages</label>
                                        <div class="bootselect-multiselect">
                                            <select class="selectpicker" multiple>
                                                <option>English</option>
                                                <option>Spanish</option>
                                                <option>Greek</option>
                                                <option>Tarkish</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb20">
                                    <div class="form-style1">
                                        <label class="heading-color ff-heading fw500 mb10">Languages Level</label>
                                        <div class="bootselect-multiselect">
                                            <select class="selectpicker">
                                                <option>Select</option>
                                                <option>Fluent</option>
                                                <option>Mid Level</option>
                                                <option>Conversational</option>
                                                <option>Other</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb10">
                                    <label class="heading-color ff-heading fw500 mb10">Introduce Yourself</label>
                                    <textarea cols="30" rows="6" placeholder="Description"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="text-start">
                                    <a class="ud-btn btn-thm" href="page-contact.html">Save<i class="fal fa-arrow-right-long"></i></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="ps-widget bgc-white bdrs4 p30 mb30 overflow-hidden position-relative">
                <div class="bdrb1 pb15 mb25">
                    <h5 class="list-title">Умения</h5>
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <form class="form-style1">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb20">
                                        <div class="form-style1">
                                            <label class="heading-color ff-heading fw500 mb10">Skills 1</label>
                                            <div class="bootselect-multiselect">
                                                <select class="selectpicker">
                                                    <option>Designer</option>
                                                    <option>UI/UX</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb20">
                                        <div class="form-style1">
                                            <label class="heading-color ff-heading fw500 mb10">Point</label>
                                            <div class="bootselect-multiselect">
                                                <select class="selectpicker">
                                                    <option>90</option>
                                                    <option>80</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb20">
                                        <div class="form-style1">
                                            <label class="heading-color ff-heading fw500 mb10">Skills 2</label>
                                            <div class="bootselect-multiselect">
                                                <select class="selectpicker">
                                                    <option>Developer</option>
                                                    <option>Programmer</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb20">
                                        <div class="form-style1">
                                            <label class="heading-color ff-heading fw500 mb10">Point</label>
                                            <div class="bootselect-multiselect">
                                                <select class="selectpicker">
                                                    <option>60</option>
                                                    <option>70</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb20">
                                        <div class="form-style1">
                                            <label class="heading-color ff-heading fw500 mb10">Skills 3</label>
                                            <div class="bootselect-multiselect">
                                                <select class="selectpicker">
                                                    <option>Video Editor</option>
                                                    <option>Audio & Music</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb20">
                                        <div class="form-style1">
                                            <label class="heading-color ff-heading fw500 mb10">Point</label>
                                            <div class="bootselect-multiselect">
                                                <select class="selectpicker">
                                                    <option>75</option>
                                                    <option>80</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="text-start">
                                        <a class="ud-btn btn-thm" href="page-contact.html">Save<i class="fal fa-arrow-right-long"></i></a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="ps-widget bgc-white bdrs4 p30 mb30 overflow-hidden position-relative">
                <div class="bdrb1 pb15 mb25">
                    <h5 class="list-title">Настройки</h5>
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <form id="change-password-form" class="form-style1" method="post">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h6>Смяна на паролата</h6>
                                    <p class="text">Warning: If you close your account, you will be unsubscribed from all your 5 courses, and will lose access forever.</p>
                                </div>
                            </div>
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb20">
                                        <label asp-for="Input.OldPassword" class="heading-color ff-heading fw500 mb10">Стара парола</label>
                                        <input asp-for="Input.OldPassword" type="text" class="form-control" placeholder="********">
                                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <!--TODO da se dovurshi-->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="mb20">
                                        <label class="heading-color ff-heading fw500 mb10">New Password</label>
                                        <input type="text" class="form-control" placeholder="********">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="mb20">
                                        <label class="heading-color ff-heading fw500 mb10">Confirm New Password</label>
                                        <input type="text" class="form-control" placeholder="********">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="text-start">
                                        <button type="submit" class="ud-btn btn-thm">Смени паролата<i class="fal fa-arrow-right-long"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="ps-widget bgc-white bdrs4 p30 mb30 overflow-hidden position-relative">
                <div class="col-lg-7">
                    <div class="row">
                        <div class="bdrb1 pb15 mb25">
                            <h5 class="list-title">Настройки</h5>
                        </div>
                        <form class="form-style1">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h6>Замразяване на достъпа до акаунта</h6>
                                    <p class="text">Warning: If you close your account, you will be unsubscribed from all your 5 courses, and will lose access forever.</p>
                                </div>
                                <div class="col-sm-6">
                                    <div class="mb20">
                                        <label class="heading-color ff-heading fw500 mb10">Enter Password</label>
                                        <input type="text" class="form-control" placeholder="********">
                                    </div>
                                    <div class="text-start">
                                        <a class="ud-btn btn-thm" href="page-contact.html">Замразяване<i class="fal fa-arrow-right-long"></i></a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
