@{
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}
<div class="body_content">
    <!-- Breadcumb Sections -->
    <section class="breadcumb-section wow fadeInUp mt40">
        <div class="cta-commmon-v1 cta-banner bgc-thm2 mx-auto maxw1700 pt120 pb120 bdrs16 position-relative overflow-hidden d-flex align-items-center mx20-lg">
            <img class="left-top-img wow zoomIn" src="~/images/vector-img/left-top.png" alt="">
            <img class="right-bottom-img wow zoomIn" src="~/images/vector-img/right-bottom.png" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5">
                        <div class="position-relative wow fadeInUp" data-wow-delay="300ms">
                            <h2 class="text-white">Започни да предлагаш твоите услуги още сега</h2>
                            <p class="text mb30 text-white">За да станеш skiller е нужно да попълниш допълнителната информация за себе си, влизайки в Моя профил.</p>
                            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="ud-btn btn-thm">Стани Skiller > Моят профил<i class="fal fa-arrow-right-long"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Features -->
    <section class="our-features pb-0 pt60">
        <div class="container wow fadeInUp">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-title">
                        <h2>Чудиш се какво предлагаме ние?</h2>
                        <p class="text">Най-гледаните и най-предлаганите услуги</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="iconbox-style1 at-home5 p-0">
                        <div class="icon before-none"><span class="flaticon-cv"></span></div>
                        <div class="details">
                            <h4 class="title mt10 mb-3">Публикувай услуга</h4>
                            <p class="text">Публикувай услуга безплатно и лесно. Просто попълни <br class="d-none d-xxl-block"> заглавие, описание и основното умение.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="iconbox-style1 at-home5 p-0">
                        <div class="icon before-none"><span class="flaticon-web-design"></span></div>
                        <div class="details">
                            <h4 class="title mt10 mb-3">Избери skiller-и</h4>
                            <p class="text">Наеми безплатно професионалисти, които <br class="d-none d-xxl-block"> да извършат желаната работа от теб.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="iconbox-style1 at-home5 p-0">
                        <div class="icon before-none"><span class="flaticon-secure"></span></div>
                        <div class="details">
                            <h4 class="title mt10 mb-3">Комуникирай безопасно</h4>
                            <p class="text">Започни директна коспонденция с skiller<br class="d-none d-xxl-block"> и покани още участници към разговора.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="iconbox-style1 at-home5 p-0">
                        <div class="icon before-none"><span class="flaticon-customer-service"></span></div>
                        <div class="details">
                            <h4 class="title mt10 mb-3">Ние сме тук да помагаме</h4>
                            <p class="text">Незабавна връзка с нас. При нужда <br class="d-none d-xxl-block"> от помощ посети Помощ.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section SearchScripts
{
    <script>

        $(document).ready(function () {
            $("#searchInput").on("input", function () {
                var searchInput = $(this).val();
                $.ajax({
                    url: "/Services/GetServicesBySearchInput",
                    type: "POST",
                    data: { userInput: searchInput },
                    success: function (response) {
                        debugger;

                        if (!response.exists) {
                            $("#searchServicesContainer").hide();
                            $("#searchServicesMainContainer").hide();
                            return;
                        }
                        $("#searchServicesContainer").empty();
                        for (let i = 0; i < response.services.length; i++) {
                            let service = response.services[i];
                            let serviceContainer = `
                                <div id="service${i + 1}Container" style="background-color:#ebfaf9; height:108px; display: none;" class="mb-2 p-2 d-flex justify-content-between bdrs6">
                                    <img id="service${i + 1}img" src="${service.mainImage}" class="bdrs6" width="92" height="92" />
                                    <div class="p-2 flex-fill">
                                        <h5 class="title mb-0" id="service${i + 1}Name">${service.name}</h5>
                                        <p class="mb-0 fz14 list-inline-item mb5-sm">
                                            <i class="fz16 vam text-thm2 bdrl1 pl15 pl0-xs bdrn-xs"></i> <span id="service${i + 1}SkillerName">${service.skillerName}</span>
                                        </p>
                                        <p class="mb-0 fz14 list-inline-item mb5-sm">
                                            <i class="fz16 vam text-thm2 bdrl1 pl15 pl0-xs bdrn-xs"></i> <span class="fz17 fw500 dark-color" id="service${i + 1}Price">${service.price}</span>
                                        </p>
                                        <p class="mb-0 fz14 list-item mb5-sm">
                                            <i class="fz16 vam text-thm2 bdrl1 pl15 pl0-xs bdrn-xs"></i> <span id="service${i + 1}Category">${service.category}</span>
                                        </p>
                                    </div>
                                    <div class="py-0">
                                        <a href="/Services/Service/${service.id}" class="ud-btn btn-thm w-100 bdrs60" id="service${i + 1}SkillerUsername" data-bs-toggle="tooltip" data-bs-placement="top" title="Отвори">Виж</a>
                                        <div class="mb-0 d-flex justify-content-end">
                                            <i class="fas fa-star fz10 review-color pe-1"></i>
                                            <span class="dark-color" id="service${i + 1}ReviewAvgCoef">${service.reviewAvgCoef}</span>&nbsp;(<span id="service${i + 1}ReviewsCount">${service.reviewsCount}</span>&nbsp;ревюта)
                                        </div>
                                    </div>
                                </div>`;
                            $("#searchServicesContainer").append(serviceContainer);
                        }
                        $("#searchServicesMainContainer").show();
                        $("#searchServicesContainer").show();
                    }
                });
            });
        });
    </script>
}