@{
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}
<div class="body_content">

    <!-- FAQ Section Area -->
    <section class="our-faq pb50">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 m-auto wow fadeInUp" data-wow-delay="300ms">
                    <div class="main-title text-center">
                        <h2 class="title">How can we help you?</h2>
                        <p class="paragraph mt10">Give your visitor a smooth online experience with a solid UX design</p>
                        <div class="search_widgets mt30">
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                                <div class="help_search_btn">
                                    <button type="submit" class="btn search-btn"><span class="far fa-magnifying-glass"></span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xl-3">
                    <div class="iconbox-style1 bdr1">
                        <div class="icon"><span class="flaticon-developer"></span></div>
                        <div class="details mt20">
                            <p class="text mb5">1.853 skills</p>
                            <h4 class="title">Development & IT</h4>
                            <p class="mb-0">Software Engineer, Web / Mobile Developer & More</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="iconbox-style1 bdr1">
                        <div class="icon"><span class="flaticon-web-design-1"></span></div>
                        <div class="details mt20">
                            <p class="text mb5">1.853 skills</p>
                            <h4 class="title">Design & Creative</h4>
                            <p class="mb-0">Software Engineer, Web / Mobile Developer & More</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="iconbox-style1 bdr1">
                        <div class="icon"><span class="flaticon-digital-marketing"></span></div>
                        <div class="details mt20">
                            <p class="text mb5">1.853 skills</p>
                            <h4 class="title">Digital Marketing</h4>
                            <p class="mb-0">Software Engineer, Web / Mobile Developer & More</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="iconbox-style1 bdr1">
                        <div class="icon"><span class="flaticon-translator"></span></div>
                        <div class="details mt20">
                            <p class="text mb5">1.853 skills</p>
                            <h4 class="title">Writing & Translation</h4>
                            <p class="mb-0">Software Engineer, Web / Mobile Developer & More</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="iconbox-style1 bdr1">
                        <div class="icon"><span class="flaticon-microphone"></span></div>
                        <div class="details mt20">
                            <p class="text mb5">1.853 skills</p>
                            <h4 class="title">Music & Audio</h4>
                            <p class="mb-0">Software Engineer, Web / Mobile Developer & More</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="iconbox-style1 bdr1">
                        <div class="icon"><span class="flaticon-video-file"></span></div>
                        <div class="details mt20">
                            <p class="text mb5">1.853 skills</p>
                            <h4 class="title">Video & Animation</h4>
                            <p class="mb-0">Software Engineer, Web / Mobile Developer & More</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="iconbox-style1 bdr1">
                        <div class="icon"><span class="flaticon-ruler"></span></div>
                        <div class="details mt20">
                            <p class="text mb5">1.853 skills</p>
                            <h4 class="title">Engineering & Architecture</h4>
                            <p class="mb-0">Software Engineer, Web / Mobile Developer & More</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="iconbox-style1 bdr1">
                        <div class="icon"><span class="flaticon-goal"></span></div>
                        <div class="details mt20">
                            <p class="text mb5">1.853 skills</p>
                            <h4 class="title">Finance & Accounting</h4>
                            <p class="mb-0">Software Engineer, Web / Mobile Developer & More</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt90">
                <div class="col-lg-6 m-auto wow fadeInUp" data-wow-delay="300ms">
                    <div class="main-title text-center">
                        <h2 class="title">Frequently Asked Questions</h2>
                        <p class="paragraph mt10">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                </div>
            </div>
            <div class="row wow fadeInUp" data-wow-delay="300ms">
                <div class="col-lg-8 mx-auto">
                    <div class="ui-content">
                        <div class="accordion-style1 faq-page mb-4 mb-lg-5">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item active">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">What methods of payments are supported?</button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="accordion-body">Cras vitae ac nunc orci. Purus amet tortor non at phasellus ultricies hendrerit. Eget a, sit morbi nunc sit id massa. Metus, scelerisque volutpat nec sit vel donec. Sagittis, id volutpat erat vel.</div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Can I cancel at anytime?</button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                        <div class="accordion-body">Cras vitae ac nunc orci. Purus amet tortor non at phasellus ultricies hendrerit. Eget a, sit morbi nunc sit id massa. Metus, scelerisque volutpat nec sit vel donec. Sagittis, id volutpat erat vel.</div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">How do I get a receipt for my purchase?</button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                        <div class="accordion-body">Cras vitae ac nunc orci. Purus amet tortor non at phasellus ultricies hendrerit. Eget a, sit morbi nunc sit id massa. Metus, scelerisque volutpat nec sit vel donec. Sagittis, id volutpat erat vel.</div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFour">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Which license do I need?</button>
                                    </h2>
                                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                        <div class="accordion-body">Cras vitae ac nunc orci. Purus amet tortor non at phasellus ultricies hendrerit. Eget a, sit morbi nunc sit id massa. Metus, scelerisque volutpat nec sit vel donec. Sagittis, id volutpat erat vel.</div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFive">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">How do I get access to a theme I purchased?</button>
                                    </h2>
                                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                                        <div class="accordion-body">Cras vitae ac nunc orci. Purus amet tortor non at phasellus ultricies hendrerit. Eget a, sit morbi nunc sit id massa. Metus, scelerisque volutpat nec sit vel donec. Sagittis, id volutpat erat vel.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section SearchScripts
{
    <script>

        $(document).ready(function () {
            $("#searchInput").on("input", function () {
                var searchInput = $(this).val();
                $.ajax({
                    url: "/Services/GetServicesBySearchInput",
                    type: "POST",
                    data: { userInput: searchInput },
                    success: function (response) {
                        debugger;

                        if (!response.exists) {
                            $("#searchServicesContainer").hide();
                            $("#searchServicesMainContainer").hide();
                            return;
                        }
                        $("#searchServicesContainer").empty();
                        for (let i = 0; i < response.services.length; i++) {
                            let service = response.services[i];
                            let serviceContainer = `
                                <div id="service${i + 1}Container" style="background-color:#ebfaf9; height:108px; display: none;" class="mb-2 p-2 d-flex justify-content-between bdrs6">
                                    <img id="service${i + 1}img" src="${service.mainImage}" class="bdrs6" width="92" height="92" />
                                    <div class="p-2 flex-fill">
                                        <h5 class="title mb-0" id="service${i + 1}Name">${service.name}</h5>
                                        <p class="mb-0 fz14 list-inline-item mb5-sm">
                                            <i class="fz16 vam text-thm2 bdrl1 pl15 pl0-xs bdrn-xs"></i> <span id="service${i + 1}SkillerName">${service.skillerName}</span>
                                        </p>
                                        <p class="mb-0 fz14 list-inline-item mb5-sm">
                                            <i class="fz16 vam text-thm2 bdrl1 pl15 pl0-xs bdrn-xs"></i> <span class="fz17 fw500 dark-color" id="service${i + 1}Price">${service.price}</span>
                                        </p>
                                        <p class="mb-0 fz14 list-item mb5-sm">
                                            <i class="fz16 vam text-thm2 bdrl1 pl15 pl0-xs bdrn-xs"></i> <span id="service${i + 1}Category">${service.category}</span>
                                        </p>
                                    </div>
                                    <div class="py-0">
                                        <a href="/Services/Service/${service.id}" class="ud-btn btn-thm w-100 bdrs60" id="service${i + 1}SkillerUsername" data-bs-toggle="tooltip" data-bs-placement="top" title="Отвори">Виж</a>
                                        <div class="mb-0 d-flex justify-content-end">
                                            <i class="fas fa-star fz10 review-color pe-1"></i>
                                            <span class="dark-color" id="service${i + 1}ReviewAvgCoef">${service.reviewAvgCoef}</span>&nbsp;(<span id="service${i + 1}ReviewsCount">${service.reviewsCount}</span>&nbsp;ревюта)
                                        </div>
                                    </div>
                                </div>`;
                            $("#searchServicesContainer").append(serviceContainer);
                        }
                        $("#searchServicesMainContainer").show();
                        $("#searchServicesContainer").show();
                    }
                });
            });
        });
    </script>
}