@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User.IsInRole("Admin"))
    {
        <h1>Добре дошъл, @User.Identity.Name!</h1>
    }
    else
    {
        <h1 class="display-4">Добре дошъл!</h1>
    }
</div>
