@using DTOs.OUTPUT
@model IEnumerable<CategoryCardDTO>
@{
    ViewData["Title"] = "Home Page";
}
@if(User.Identity!.IsAuthenticated)
{
    <h1>Hello, user!</h1>
}
else
{
    <h1>Hello, world!</h1>
}
<div>
    @foreach (var cCard in Model)
    {
        <h3>@cCard.Name</h3>
        <img src="@cCard.MainImage" width="260" height="301"/>
    }
</div>