@{
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}
<div class="body_content" style="background-color: #ebfaf9;">
    <div class="container ps-widget bgc-white bdrs4 p30 mb30 overflow-hidden position-relative" style="min-height: 410px;">
        <h2 class="title text-center">Политика за поверителност</h2>
        <h3>Въведение</h3>
        <p>Добре дошли в SkillBox! Вашата поверителност е от голямо значение за нас. Настоящата Политика за поверителност обяснява как събираме, използваме, разкриваме и защитаваме личните ви данни, когато използвате нашето приложение и услуги. Моля, прочетете внимателно тази политика, за да разберете нашите практики относно вашите лични данни и как ще ги третираме.</p>
        <h3>Събиране на информация</h3>
        <h4>Информация, която събираме</h4>
        <p>При регистрация и използване на нашето приложение, ние може да събираме следните видове лични данни:</p>
        <ul>
            <li>
                <iconify-icon icon="oui:dot" width="1.2em" height="1.2em" style="color: #757575"></iconify-icon><b>Лични данни:</b><span> Име, имейл адрес, телефонен номер, адрес.</span>
            </li>
            <li>
                <iconify-icon icon="oui:dot" width="1.2em" height="1.2em" style="color: #757575"></iconify-icon><b>Потребителски данни:</b><span> Потребителско име, парола, информация за публикувани услуги, оценки и рецензии.</span>
            </li>
            <li>
                <iconify-icon icon="oui:dot" width="1.2em" height="1.2em" style="color: #757575"></iconify-icon><b>Технически данни:</b><span> IP адрес, вид на браузъра, операционна система, и друга техническа информация.</span>
            </li>
        </ul>
        <h4>Начини на събиране</h4>
        <p>Събираме данни чрез:</p>
        <ul>
            <li>
                <iconify-icon icon="oui:dot" width="1.2em" height="1.2em" style="color: #757575"></iconify-icon><b>Регистрационни форми:</b><span> Когато се регистрирате или актуализирате профила си.</span>
            </li>
            <li>
                <iconify-icon icon="oui:dot" width="1.2em" height="1.2em" style="color: #757575"></iconify-icon><b>Публикации:</b><span> Когато добавяте или редактирате услуги.</span>
            </li>
            <li>
                <iconify-icon icon="oui:dot" width="1.2em" height="1.2em" style="color: #757575"></iconify-icon><b>Комуникация:</b><span> Когато се свързвате с нас чрез формите за контакт или други средства за комуникация.</span>
            </li>
        </ul>
        <h3>Използване на информацията</h3>
        <h4>За какво използваме вашите данни</h4>
        <ul>
            <li>
                <iconify-icon icon="oui:dot" width="1.2em" height="1.2em" style="color: #757575"></iconify-icon><b>Управление на акаунти:</b><span> За да създадем и поддържаме вашия профил в нашето приложение.</span>
            </li>
            <li>
                <iconify-icon icon="oui:dot" width="1.2em" height="1.2em" style="color: #757575"></iconify-icon><b>Предоставяне на услуги:</b><span> За да ви позволим да публикувате, преглеждате и търсите услуги.</span>
            </li>
            <li>
                <iconify-icon icon="oui:dot" width="1.2em" height="1.2em" style="color: #757575"></iconify-icon><b>Комуникация:</b><span> За да се свързваме с вас по въпроси, свързани с вашия акаунт или услугите, които използвате.</span>
            </li>
            <li>
                <iconify-icon icon="oui:dot" width="1.2em" height="1.2em" style="color: #757575"></iconify-icon><b>Подобрение на услугите:</b><span> За да анализираме използването на нашето приложение и да го подобрим.</span>
            </li>
            <li>
                <iconify-icon icon="oui:dot" width="1.2em" height="1.2em" style="color: #757575"></iconify-icon><b>Сигурност:</b><span> За да предотвратим измами и да защитим сигурността на нашите потребители.</span>
            </li>
        </ul>
        <h3>Разкриване на информация</h3>
        <p>Ние не продаваме, не търгуваме или по друг начин не прехвърляме вашите лични данни на трети лица без вашето съгласие, освен ако това не е необходимо за предоставяне на услугите ни или както е предвидено от закона.</p>
        <h4>Трети страни</h4>
        <p>Можем да споделяме информация с доверени трети страни, които ни помагат в работата на нашето приложение, като например:</p>
        <ul>
            <li>
                <iconify-icon icon="oui:dot" width="1.2em" height="1.2em" style="color: #757575"></iconify-icon><b>Хостинг доставчици</b>
            </li>
            <li>
                <iconify-icon icon="oui:dot" width="1.2em" height="1.2em" style="color: #757575"></iconify-icon><b>Платежни системи</b>
            </li>
            <li>
                <iconify-icon icon="oui:dot" width="1.2em" height="1.2em" style="color: #757575"></iconify-icon><b>Аналитични услуги</b>
            </li>
        </ul>
        <h3>Защита на данните</h3>
        <p>Прилагаме различни мерки за сигурност, за да поддържаме сигурността на вашите лични данни, включително криптиране, защитни стени и други технически и организационни мерки.</p>
        <h3>Вашите права</h3>
        <p>Имате право на достъп, коригиране или изтриване на личните си данни, както и да възразите срещу или да ограничите обработката на тези данни. Можете да упражните тези права, като се свържете с нас на посочените по-долу координати.</p>
        <h3>Промени в Политиката за поверителност</h3>
        <p>Ние си запазваме правото да актуализираме тази Политика за поверителност по всяко време. Всички промени ще бъдат публикувани на тази страница и ще бъдете уведомени чрез нашето приложение или по електронна поща.</p>
        <br />
        <p>Благодарим ви, че избрахте SkillBox и че се доверявате на нашите услуги!</p>
    </div>
</div>
<script src="https://code.iconify.design/iconify-icon/2.0.0/iconify-icon.min.js"></script>
@section SearchScripts
{
    <script>

        $(document).ready(function () {
            $("#searchInput").on("input", function () {
                var searchInput = $(this).val();
                $.ajax({
                    url: "/Services/GetServicesBySearchInput",
                    type: "POST",
                    data: { userInput: searchInput },
                    success: function (response) {
                        debugger;

                        if (!response.exists) {
                            $("#searchServicesContainer").hide();
                            $("#searchServicesMainContainer").hide();
                            return;
                        }
                        $("#searchServicesContainer").empty();
                        for (let i = 0; i < response.services.length; i++) {
                            let service = response.services[i];
                            let serviceContainer = `
                                                                        <div id="service${i + 1}Container" style="background-color:#ebfaf9; height:108px; display: none;" class="mb-2 p-2 d-flex justify-content-between bdrs6">
                                                                            <img id="service${i + 1}img" src="${service.mainImage}" class="bdrs6" width="92" height="92" />
                                                                            <div class="p-2 flex-fill">
                                                                                <h5 class="title mb-0" id="service${i + 1}Name">${service.name}</h5>
                                                                                <p class="mb-0 fz14 list-inline-item mb5-sm">
                                                                                    <i class="fz16 vam text-thm2 bdrl1 pl15 pl0-xs bdrn-xs"></i> <span id="service${i + 1}SkillerName">${service.skillerName}</span>
                                                                                </p>
                                                                                <p class="mb-0 fz14 list-inline-item mb5-sm">
                                                                                    <i class="fz16 vam text-thm2 bdrl1 pl15 pl0-xs bdrn-xs"></i> <span class="fz17 fw500 dark-color" id="service${i + 1}Price">${service.price}</span>
                                                                                </p>
                                                                                <p class="mb-0 fz14 list-item mb5-sm">
                                                                                    <i class="fz16 vam text-thm2 bdrl1 pl15 pl0-xs bdrn-xs"></i> <span id="service${i + 1}Category">${service.category}</span>
                                                                                </p>
                                                                            </div>
                                                                            <div class="py-0">
                                                                                <a href="/Services/Service/${service.id}" class="ud-btn btn-thm w-100 bdrs60" id="service${i + 1}SkillerUsername" data-bs-toggle="tooltip" data-bs-placement="top" title="Отвори">Виж</a>
                                                                                <div class="mb-0 d-flex justify-content-end">
                                                                                    <i class="fas fa-star fz10 review-color pe-1"></i>
                                                                                    <span class="dark-color" id="service${i + 1}ReviewAvgCoef">${service.reviewAvgCoef}</span>&nbsp;(<span id="service${i + 1}ReviewsCount">${service.reviewsCount}</span>&nbsp;ревюта)
                                                                                </div>
                                                                            </div>
                                                                        </div>`;
                            $("#searchServicesContainer").append(serviceContainer);
                        }
                        $("#searchServicesMainContainer").show();
                        $("#searchServicesContainer").show();
                    }
                });
            });
        });
    </script>
}