@{
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<div class="container" style="height: 500px; background-color: #ebfaf9;">
    <p>Use this page to detail your site's privacy policy.</p>
</div>