.bg-skillBox {
    background-color: #AFEEEE;
}

.text-skillBox {
    color: #AFEEEE;
}

hr.hr-2 {
    height: 2px;
}

.w-45 {
    width: 45%;
}

.mx-20 {
    margin-left: 20%;
    margin-right: 20%;
}

#registerBtn {
  
}
.px-9 {
    margin: 8%;
}
#q, #b {
    margin: 0
}

#q {
    padding: 5px;
    font-size: 2em;
    width: 58%;
    line-height: 30px;
    padding-left: 20px;
    border-radius: 30px;
    font-size: 1em;
    
}

#b {
    height: 30px;
    display: block;
    position: absolute;
    bottom: 3px;
    left: 35%;
    background: gray url(button.png) 0 0 no-repeat;
    border-radius: 30px;
    height: 38px;
}

div {
    position: relative;
}

