<div class="row">
	<div class="col-xs-12 col-md-4 col-sm-6 wow slideInUp" style="visibility: visible; animation-name: slideInUp;">
		<div class="wrap-img wrap-img ">
			<a class="img-bg" href="https://freeio-app-nextjs.vercel.app/" target="_blank">
				<img src="images/home-1.png">
			</a>
			<h3 class="title"><a href="">Home 1</a></h3>
		</div>
	</div>
	<div class="col-xs-12 col-md-4 col-sm-6 wow slideInUp" style="visibility: visible; animation-name: slideInUp;">
		<div class="wrap-img wrap-img ">
			<a class="img-bg" href="https://freeio-app-nextjs.vercel.app/home-2" target="_blank">
				<img src="images/home-2.png">
			</a>
			<h3 class="title"><a href="">Home 2</a></h3>
		</div>
	</div>
	<div class="col-xs-12 col-md-4 col-sm-6 wow slideInUp" style="visibility: visible; animation-name: slideInUp;">
		<div class="wrap-img wrap-img ">
			<a class="img-bg" href="https://freeio-app-nextjs.vercel.app/home-3" target="_blank">
				<img src="images/home-3.png">
			</a>
			<h3 class="title"><a href="">Home 3</a></h3>
		</div>
	</div>
	<div class="col-xs-12 col-md-4 col-sm-6 wow slideInUp" style="visibility: visible; animation-name: slideInUp;">
		<div class="wrap-img wrap-img ">
			<a class="img-bg" href="https://freeio-app-nextjs.vercel.app/home-4" target="_blank">
				<img src="images/home-4.png">
			</a>
			<h3 class="title"><a href="">Home 4</a></h3>
		</div>
	</div>
	<div class="col-xs-12 col-md-4 col-sm-6 wow slideInUp" style="visibility: visible; animation-name: slideInUp;">
		<div class="wrap-img wrap-img ">
			<a class="img-bg" href="https://freeio-app-nextjs.vercel.app/home-5" target="_blank">
				<img src="images/home-5.png">
			</a>
			<h3 class="title"><a href="">Home 5</a></h3>
		</div>
	</div>
	<div class="col-xs-12 col-md-4 col-sm-6 wow slideInUp" style="visibility: visible; animation-name: slideInUp;">
		<div class="wrap-img wrap-img ">
			<a class="img-bg" href="https://freeio-app-nextjs.vercel.app/home-6" target="_blank">
				<img src="images/home-6.png">
			</a>
			<h3 class="title"><a href="">Home 6</a></h3>
		</div>
	</div>
	<div class="col-xs-12 col-md-4 col-sm-6 wow slideInUp" style="visibility: visible; animation-name: slideInUp;">
		<div class="wrap-img wrap-img ">
			<a class="img-bg" href="https://freeio-app-nextjs.vercel.app/home-7" target="_blank">
				<img src="images/home-7.png">
			</a>
			<h3 class="title"><a href="">Home 7</a></h3>
		</div>
	</div>
	<div class="col-xs-12 col-md-4 col-sm-6 wow slideInUp" style="visibility: visible; animation-name: slideInUp;">
		<div class="wrap-img wrap-img ">
			<a class="img-bg" href="https://freeio-app-nextjs.vercel.app/home-8" target="_blank">
				<img src="images/home-8.png">
			</a>
			<h3 class="title"><a href="">Home 8</a></h3>
		</div>
	</div>
	<div class="col-xs-12 col-md-4 col-sm-6 wow slideInUp" style="visibility: visible; animation-name: slideInUp;">
		<div class="wrap-img wrap-img ">
			<a class="img-bg" href="https://freeio-app-nextjs.vercel.app/home-9" target="_blank">
				<img src="images/home-9.png">
			</a>
			<h3 class="title"><a href="">Home 9</a></h3>
		</div>
	</div>
	<div class="col-xs-12 col-md-4 col-sm-6 wow slideInUp" style="visibility: visible; animation-name: slideInUp;">
		<div class="wrap-img wrap-img ">
			<a class="img-bg" href="https://freeio-app-nextjs.vercel.app/home-10" target="_blank">
				<img src="images/home-10.png">
			</a>
			<h3 class="title"><a href="">Home 10</a></h3>
		</div>
	</div>
	<div class="col-xs-12 col-md-4 col-sm-6 wow slideInUp" style="visibility: visible; animation-name: slideInUp;">
		<div class="wrap-img wrap-img ">
			<a class="img-bg" href="https://freeio-app-nextjs.vercel.app/home-11" target="_blank">
				<img src="images/home-11.png">
			</a>
			<h3 class="title"><a href="">Home 11</a></h3>
		</div>
	</div>
	<div class="col-xs-12 col-md-4 col-sm-6 wow slideInUp" style="visibility: visible; animation-name: slideInUp;">
		<div class="wrap-img wrap-img ">
			<a class="img-bg" href="https://freeio-app-nextjs.vercel.app/home-12" target="_blank">
				<img src="images/home-12.png">
			</a>
			<h3 class="title"><a href="">Home 12</a></h3>
		</div>
	</div>
	<div class="col-xs-12 col-md-4 col-sm-6 wow slideInUp" style="visibility: hidden; animation-name: none;">
		<div class="wrap-img wrap-img ">
			<a class="img-bg" href="https://freeio-app-nextjs.vercel.app/home-13" target="_blank">
				<img src="images/home-13.png">
			</a>
			<h3 class="title"><a href="">Home 13</a></h3>
		</div>
	</div>
	<div class="col-xs-12 col-md-4 col-sm-6 wow slideInUp" style="visibility: hidden; animation-name: none;">
		<div class="wrap-img wrap-img ">
			<a class="img-bg" href="https://freeio-app-nextjs.vercel.app/home-14" target="_blank">
				<img src="images/home-14.png">
			</a>
			<h3 class="title"><a href="">Home 14</a></h3>
		</div>
	</div>
	<div class="col-xs-12 col-md-4 col-sm-6 wow slideInUp" style="visibility: hidden; animation-name: none;">
		<div class="wrap-img wrap-img ">
			<a class="img-bg" href="https://freeio-app-nextjs.vercel.app/home-15" target="_blank">
				<img src="images/home-15.png">
			</a>
			<h3 class="title"><a href="">Home 15</a></h3>
		</div>
	</div>
	<div class="col-xs-12 col-md-4 col-sm-6 wow slideInUp" style="visibility: hidden; animation-name: none;">
		<div class="wrap-img wrap-img ">
			<a class="img-bg" href="https://freeio-app-nextjs.vercel.app/home-16" target="_blank">
				<img src="images/home-16.png">
			</a>
			<h3 class="title"><a href="">Home 16</a></h3>
		</div>
	</div>
	<div class="col-xs-12 col-md-4 col-sm-6 wow slideInUp" style="visibility: hidden; animation-name: none;">
		<div class="wrap-img wrap-img ">
			<a class="img-bg" href="https://freeio-app-nextjs.vercel.app/home-17" target="_blank">
				<img src="images/home-17.png">
			</a>
			<h3 class="title"><a href="">Home 17</a></h3>
		</div>
	</div>
	<div class="col-xs-12 col-md-4 col-sm-6 wow slideInUp" style="visibility: hidden; animation-name: none;">
		<div class="wrap-img wrap-img ">
			<a class="img-bg" href="https://freeio-app-nextjs.vercel.app/home-18" target="_blank">
				<img src="images/home-18.png">
			</a>
			<h3 class="title"><a href="">Home 18</a></h3>
		</div>
	</div>
	<div class="col-xs-12 col-md-4 col-sm-6 wow slideInUp" style="visibility: hidden; animation-name: none;">
		<div class="wrap-img wrap-img ">
			<a class="img-bg" href="https://freeio-app-nextjs.vercel.app/home-19" target="_blank">
				<img src="images/home-19.png">
			</a>
			<h3 class="title"><a href="">Home 19</a></h3>
		</div>
	</div>
	<div class="col-xs-12 col-md-4 col-sm-6 wow slideInUp" style="visibility: hidden; animation-name: none;">
		<div class="wrap-img wrap-img ">
			<a class="img-bg" href="https://freeio-app-nextjs.vercel.app/home-20" target="_blank">
				<img src="images/home-20.png">
			</a>
			<h3 class="title"><a href="">Home 20</a></h3>
		</div>
	</div>
</div>